# packages
*.zip
*.tsv
*.hdf5
*.npy
*.txt

#Don't keep track of the files in data but make the folders visible on git. The file .gitkeep is empty
#virtual env
.env/

!*.json


#scratch

.DS_Store
__pycache__/
*.pyc
